@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (max-width: 640px) {
  input, select, textarea {
    font-size: 16px;
  }
}
